/* Estilos generales para las categorías */
.list-container {
    padding: 0 20px;
    /* Ajusta el padding según sea necesario */
    margin-top: 30px;
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* 3 columnas en la imagen, ajusta para responsividad */
    gap: 20px;
    /* Espacio entre las tarjetas */
}

/* Media Queries para responsividad */
@media (max-width: 992px) {
    .list {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }
}

@media (max-width: 768px) {
    .list {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}

@media (max-width: 576px) {
    .list {
        grid-template-columns: 1fr;
        /* Una columna en pantallas pequeñas */
    }

    .list-container {
        padding: 0 15px;
    }
}