.loading,
.error,
.empty-message {
    padding: 1rem;
}

.error button {
    margin-left: .5rem;
}

.grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));

    @media (min-width: 640px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.grid-item {
    text-decoration: none;
    color: inherit;
}