<div class="container subheader">
    <div class="row d-flex justify-content-center align-items-center" style="width: 100%;">
        <div class="col-md-8">
            <form class="search" (ngSubmit)="emitSearch()">
                <i class="fa fa-search"></i>
                <input type="text" list="search-suggestions" class="input" name="txt" [(ngModel)]="search_value"
                    (input)="onInput()">

                <datalist id="search-suggestions">
                    <option *ngFor="let evento of listEventos" [value]="evento.nombre"></option>
                </datalist>

                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>
</div>