<!-- pages/details/details.page.html -->
<ng-container *ngIf="evento$ | async as evento; else loadingTpl">
    <article class="evento-details">
        <h1 class="title">{{ evento.nombre }}</h1>

        <ul class="meta">
            <li><strong>Inicio:</strong> {{ evento.startDate | date:'fullDate' }}</li>
            <li><strong>Fin:</strong> {{ evento.endDate | date:'fullDate' }}</li>
            <li><strong>Ciudad:</strong> {{ evento.ciudad }}</li>
            <li *ngIf="evento.category"><strong>Género:</strong> {{ evento.category }}</li>
        </ul>

        @if (evento.favorited) {
        <button class="btn btn-sm btn-outline-primary" (click)="toggleFavorite(evento)">
            <i class="ion-heart"></i>
            Unfavorite <span class="counter">({{ evento.favouritesCount }})</span>
        </button>
        } @else {
        <button class="btn btn-sm btn-outline-primary" (click)="toggleFavorite(evento)">
            <i class="ion-heart"></i>
            Favorite <span class="counter">({{ evento.favouritesCount }})</span>
        </button>
        }

        <app-carousel class="main-carousel" page="evento" [slug_evento]="evento.slug ?? null">
        </app-carousel>
        <a routerLink="/" class="btn-back">← Volver</a>
    </article>
</ng-container>

<hr>
<h3 class="product-info title">Comment Section</h3>
<br>

<div class="comments-section">

    <!-- Mostrar lista de comentarios -->
    <app-comments *ngFor="let comment of comments" [comment]="comment" (deleteComment)="delete_comment(comment)">
    </app-comments>

    <!-- Mostrar si no hay comentarios -->
    <div class="comment" *ngIf="NoComments">
        <p>Be the first to comment on this event.</p>
    </div>

    <!-- Crear comentario si está loggeado -->
    <div class="create-comment" *ngIf="logged === true">
        <form (ngSubmit)="create_comment()">
            <div class="comment-new">

                <fieldset [disabled]="isSubmitting">
                    <textarea class="comment-textarea" placeholder="Write a comment..." [formControl]="commentControl"
                        rows="3">
          </textarea>

                    <div class="comment-actions">
                        <button class="post" type="submit">Comment</button>
                        <button class="cancel" type="button" (click)="empty_comment()">Cancel</button>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>

    <div class="not-logged" *ngIf="logged === false">
        <a [routerLink]="['/login']">Sign in</a> or
        <a [routerLink]="['/register']">sign up</a>
        to add comments on this event.
    </div>

</div>


<ng-template #loadingTpl>
    <div class="loading">Cargando…</div>
</ng-template>
