<ng-container *ngIf="evento() as evento; else loadingTpl">
    <article class="evento-details">
        <h1 class="title">{{ evento.nombre }}</h1>

        <ul class="meta">
            <li><strong>Inicio:</strong> {{ evento.startDate | date:'fullDate' }}</li>
            <li><strong>Fin:</strong> {{ evento.endDate | date:'fullDate' }}</li>
            <li><strong>Ciudad:</strong> {{ evento.ciudad }}</li>
            <li *ngIf="evento.category"><strong>Género:</strong> {{ evento.category }}</li>
        </ul>

        @if (evento.favorited) {
        <button class="btn btn-sm btn-outline-primary" (click)="toggleFavorite()">
            <i class="ion-heart"></i>
            Unfavorite <span class="counter">({{ evento.favouritesCount }})</span>
        </button>
        } @else {
        <button class="btn btn-sm btn-outline-primary" (click)="toggleFavorite()">
            <i class="ion-heart"></i>
            Favorite <span class="counter">({{ evento.favouritesCount }})</span>
        </button>
        }
        
        <!-- Add to Cart Button -->
        <button class="btn btn-sm btn-outline-success" (click)="addToCart()" *ngIf="logged">
            <i class="ion-plus-round"></i>
            Add to Cart
        </button>

        <app-carousel class="main-carousel" page="evento" [slug_evento]="evento.slug ?? null">
        </app-carousel>
        <a routerLink="/" class="btn-back">← Volver</a>
    </article>

    <hr>
    <app-list-merchant-product [products]="merchant()" (selectionChanged)="onProductSelectionChanged($event)"></app-list-merchant-product>
    <hr>
    <h3 class="product-info title">Comment Section</h3>
    <br>

    <div class="comments-section">

        <app-comments *ngFor="let comment of comments()" [comment]="comment" [slug]="evento.slug ?? ''"
            (deleteComment)="onDeleteComment($event)" (updateComment)="onUpdateComment($event)">
        </app-comments>

        <div class=" comment" *ngIf="NoComments">
            <p>Be the first to comment on this event.</p>
        </div>

        <div class="create-comment" *ngIf="!hasCommented">
            <form (ngSubmit)="create_comment($event)">
                <div class="comment-new">
                    <fieldset [disabled]="isSubmitting">
                        <textarea class="comment-textarea" placeholder="Write a comment..."
                            [formControl]="commentControl" rows="3"></textarea>
                        <div class="comment-actions">
                            <span class="post-link" (click)="create_comment($event)">Comment</span>
                            <span class="cancel-link" (click)="empty_comment()">Cancel</span>
                        </div>
                    </fieldset>
                </div>
            </form>
        </div>


    </div>
</ng-container>

<ng-template #loadingTpl>
    <div class="loading">Cargando…</div>
</ng-template>