<div class="card-evento">
  <h3>{{ evento.nombre }}</h3>

  <p><strong>Ciudad:</strong> {{ evento.ciudad }}</p>
  <p><strong>Fecha:</strong> {{ evento.fecha | date:'mediumDate' }}</p>
  <p *ngIf="evento.genero"><strong>Género:</strong> {{ evento.genero }}</p>
  <p>Slug: {{ evento.slug }}</p>
  <a class="btn details px-auto" [routerLink]="['/details', evento.slug]">
    View Details
  </a>
  <br />

  <app-carousel class="main-carousel" page="evento" [slug_evento]="evento.slug ?? null"></app-carousel>

</div>