/* Estilos para la sección de Eventos Destacados */
.list-evento {
  display: flex;
  /* Para que las tarjetas se apilen verticalmente */
  flex-direction: column;
  gap: 16px;
  /* Espacio entre las tarjetas */
  padding: 0 16px;
  /* Para que no se pegue a los bordes si está en un contenedor con padding */
}

/* Estilos para el estado de carga y error */
.loading,
.error,
.empty {
  text-align: center;
  padding: 20px;
  font-size: 1.1em;
  color: #555;
}

.error {
  color: #d9534f;
}