<!-- card-category.component.html -->
<div class="card-category">
    <!-- El card-header ahora será el contenedor de la imagen de fondo y el título -->
    <div class="card-header"
        [style.background-image]="category.image?.[0] ? 'url(' + category.image?.[0] + ')' : 'none'">
        <h3>{{ category.nombre }}</h3>
    </div>

    <div class="card-body">
        <p *ngIf="category.descripcion">
            <strong>Descripción:</strong> {{ category.descripcion }}
        </p>
    </div>
</div>