<!-- Botón Nuevo Producto
<div class="actions">
  <button (click)="onNew()" class="btn btn-primary">
    Nuevo Producto
  </button>
</div> -->

<!-- Spinner de carga -->
<div *ngIf="loading" class="loading">
  Cargando productos...
</div>


<div *ngIf="error" class="error">
  {{ error }}
</div>


<div *ngIf="!loading && prods?.length; else empty" class="prod-list">
    <prod-card
    *ngFor="let p of prods; trackBy: trackByProd"
    [prod]="p">
  </prod-card>
</div>


<ng-template #empty>
  <p>No hay productos aún.</p>
</ng-template>
